{% extends "bootstrap_layout.html" %}
{% set active_page = "driver_form" %}
{% block content %}
<style>
    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px 10px;
      cursor: pointer;
      height:75px;
      width:300px;
    }
    .button1 {background-color: #00D2BE;} /* Mercedes */
    .button2 {background-color: #DC0000;} /* Ferrari */
    .button3 {background-color: #0600EF;} /* Red Bull Racing */
    .button4 {background-color: #0090FF;} /* Alpine */
    .button5 {background-color: #D5D5D5;} /* Haas */
    .button6 {background-color: #006F62;} /* Aston Martin */
    .button7 {background-color: #2B4562;} /* Alpha Tauri */
    .button8 {background-color: #FF8700;} /* McLaren */
    .button9 {background-color: #900000;} /* Alpha Romeo */
    .button10 {background-color: #005AFF;} /* Williams */
</style>
    <h2>Driver Statistics Forms</h2>
    <p>Request a statistics summary for an F1 driver...</p>
        <a class="button button1" href="/drivers/hamilton" role="button">Hamilton</a>
        <a class="button button1" href="/drivers/bottas" role="button">Bottas</a>
        <a class="button button3" href="/drivers/max_verstappen" role="button">Verstappen</a>
        <a class="button button3" href="/drivers/perez" role="button">Perez</a>
        <a class="button button2" href="/drivers/leclerc" role="button">Leclerc</a>
        <a class="button button2" href="/drivers/sainz" role="button">Sainz</a>
        <a class="button button8" href="/drivers/norris" role="button">Norris</a>
        <a class="button button8" href="/drivers/ricciardo" role="button">Ricciardo</a>
        <a class="button button4" href="/drivers/alonso" role="button">Alonso</a>
        <a class="button button4" href="/drivers/ocon" role="button">Ocon</a>
        <a class="button button7" href="/drivers/gasly" role="button">Gasly</a>
        <a class="button button7" href="/drivers/tsunoda" role="button">Tsunoda</a>
        <a class="button button6" href="/drivers/vettel" role="button">Vettel</a>
        <a class="button button6" href="/drivers/stroll" role="button">Vettel</a>
        <a class="button button10" href="/drivers/russell" role="button">Russell</a>
        <a class="button button10" href="/drivers/latifi" role="button">Latifi</a>
        <a class="button button9" href="/drivers/Giovinazzi" role="button">Giovinazzi/a>
        <a class="button button9" href="/drivers/raikkonen" role="button">Raikkonen</a>
        <a class="button button5" href="/drivers/mick_schumacher" role="button">Schumacher</a>
        <a class="button button5" href="/drivers/mazepin" role="button">Mazepin</a>
    </form>
{% endblock %}