#start with drop downs, driver names, statistics 
# form with 2 drop downs and submission button 
#form will have method of post and action of some kind of route 
#set up another route to handle form data 
#route we send data to will make request to API for given name & characteristic 
#get data back 
#that route will render another page
#pass driver data to page (FROM FUNCTIONS)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My App</title>
</head>
<body>

    <h1>Welcome Home</h1>

    <p>This is a paragraph on the "home" page.</p>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/hello">Hello</a></li>
        </ul>
    </nav>

    <footer>
        <p>My footer</p>
    </footer>

</body>
</html>